<ng-container>
  <div class="text-center text-3xl font-sans w-1/2 m-auto p-6">Gerenciador de Tarefas</div>
  <mat-card class="w-1/2 m-auto bg-[#D9D9D9]">
    <div class="text-center text-2xl font-sans">Nova Tarefa</div>

    <form class="flex-col p-6">
      <ng-container class="flex-col">
        <div class="flex justify-center">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Tarefa</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div class="flex justify-center">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>

        <div class="flex justify-center">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Prioridade</mat-label>
            <mat-select matNativeControl>
              <mat-option value="baixa">Baixa</mat-option>
              <mat-option value="media">Media</mat-option>
              <mat-option value="alta">Alta</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

      <ng-container class="flex-col">
        <div class="flex justify-center">
          <button type="submit"
            class="outline outline-offset-2 outline-1 outline-gray-400 w-1/2 p-2 m-2 rounded-md text-white bg-[#3F50E8]">
            Cadastrar
          </button>
        </div>

        <div class="flex justify-center">
          <button type="submit"
            class="outline outline-offset-2 outline-1 outline-gray-400 w-1/2 p-2 m-2 rounded-md text-white bg-[#3F50E8]">
            Voltar
          </button>
        </div>
      </ng-container>
    </form>

  </mat-card>
</ng-container>
