<ng-container>
  <div class="text-center text-3xl font-sans w-1/2 m-auto p-5">Tarefas</div>
  <mat-card class="mx-5 bg-[#D9D9D9]">
    <div class="flex justify-end">
      <button class="outline outline-offset-2 outline-1 outline-gray-400 w-1/5 p-2 m-2 rounded-md text-white bg-[#3F50E8]"
      (click)="onNovaTarefa()"
      >
        Nova Tarefa
      </button>
    </div>

    <div class="grid grid-cols-2 gap-4 place-content-stretch h-auto">
      <div class="p-4">
        <card-tarefa></card-tarefa>
      </div>
      <div class="p-4">
        <card-tarefa></card-tarefa>
      </div>
      <div class="p-4">
        <card-tarefa></card-tarefa>
      </div>
      <div class="p-4">
        <card-tarefa></card-tarefa>
      </div>
      <div class="p-4">
        <card-tarefa></card-tarefa>
      </div>
      <div class="p-4">
        <card-tarefa></card-tarefa>
      </div>
    </div>

  </mat-card>
</ng-container>
